[submodule "row-multiple/pcb/eurorack-eurocad"]
	path = row-multiple/pcb/eurorack-eurocad
	url = https://github.com/rhinocerose/eurorack-eurocad
[submodule "row-buffered-multiple/pcb/eurorack-eurocad"]
	path = row-buffered-multiple/pcb/eurorack-eurocad
	url = https://github.com/rhinocerose/eurorack-eurocad
