[submodule "row-multiple/pcb/eurorack-eurocad"]
	path = row-multiple/pcb/eurorack-eurocad
	url = git@git-rhino:rhinocerose/eurorack-eurocad
[submodule "row-buffered-multiple/pcb/eurorack-eurocad"]
	path = row-buffered-multiple/pcb/eurorack-eurocad
	url = git@git-rhino:rhinocerose/eurorack-eurocad
